@import url('https://fonts.googleapis.com/css?family=Dosis|Quicksand');

body {
  background-image: url(clouds.jpg);
  color: #41444B;
  font-family: Quicksand;
  height: 100vh;
}

form {
  text-align: center;
}

input[type="text"] {
  padding: 10px;
  margin: 5px;
  margin-bottom: 2px;
  border: none;
  border-radius: 5px;
  height: 20px;
  width: auto;
}

.button {
  background-color: whitesmoke;
  color: #41444B;
  padding: 10px;
  margin: 5px;
  margin-bottom: 2px;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 80px;
}

img {
  max-width: 50px;
  max-height: 50px;
}

.container {
  text-align: center;
  padding: 20px;
}

.current-weather-container {
  background: rgb(155,190,200);
  background: linear-gradient(145deg, rgba(155,190,200,0.702140231092437) 28%, rgba(221,242,253,0.702140231092437) 65%);
  padding: 20px;
  margin: 10px auto;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.centered-heading {
  color: #41444B;
  font-size: 30px;
}

.forecast-container {
  display: flex;
  justify-content: space-between center;
  flex-wrap: wrap;
}

.forecast-box {
  width: calc(100% / 5 - 20px);
  box-sizing: border-box;
  background: rgb(134,167,137);
  background: linear-gradient(145deg, rgba(134,167,137,0.7441570378151261) 28%, rgba(210,227,200,0.8225884103641457) 65%);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px;
}
  

form {
  text-align: center;
  margin: 20px 0;
}


input[type="text"], button {
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
}

button {
  background-color: var(--highlight-color);
  color: white;
  cursor: pointer;
}


img {
  max-width: 50px;
  max-height: 50px;
}